.user_icon{
  float: right;

}

.form{
  margin-left:12%;
  margin-right:12%;

}

.sublease{
  h2{
    text-align: center;
  }
  Button{
    margin-left: 40%;
  }

  .submit{
    margin-top: 3%;
    margin-left: 40%;
  }
}
user_icon {
  .segment {
    max-height: 100%;
  }
}

